Stage 2/Node Red Flow/flows_210204R.json
[
    {
        "id": "02819f7f276b30da",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ad45ba608a270c6",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "LDR_RIGHT_210204R",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "8cc64b22256e071c"
            ]
        ]
    },
    {
        "id": "b49c663159498872",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "LDR_LEFT_210204R",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "a65be6b222e0a6ab"
            ]
        ]
    },
    {
        "id": "d402c571949ecf4c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light Intensity ",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#cecece",
            "#be274d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0e7fb7e2655190a9",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Right",
        "func": "return {payload: msg.payload,\ntopic:\"Right\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "d402c571949ecf4c",
                "3371254ceb19b4c8",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "6402d1fa9e527d67",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "Left",
        "func": "return {payload: msg.payload,\ntopic:\"Left\"};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "d402c571949ecf4c",
                "4d1010fa017322c6",
                "21d47813ecb85b8c"
            ]
        ]
    },
    {
        "id": "3371254ceb19b4c8",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "right_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "4d1010fa017322c6",
        "type": "change",
        "z": "02819f7f276b30da",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "left_LDR",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "aa8337dad5a0f0df"
            ]
        ]
    },
    {
        "id": "aa8337dad5a0f0df",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 7",
        "func": "let right_LDR = global.get(\"right_LDR\");\nlet left_LDR = global.get(\"left_LDR\");\n\nlet max = right_LDR;\n\nif(left_LDR>max){\n    max = left_LDR;\n}\n\nreturn{\npayload:max\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 220,
        "wires": [
            [
                "fb9981a876657fc3"
            ]
        ]
    },
    {
        "id": "fb9981a876657fc3",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Max Light",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 140,
        "wires": []
    },
    {
        "id": "21d47813ecb85b8c",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "01acc8efbdc4bbe7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Variation",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b0b31e",
            "#12d91f",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cc6914e2790b6816",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "9ea72cb8a27ce191",
        "order": 6,
        "width": 9,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "min_ang",
        "topicType": "str",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "e92d0a151ff5cf60"
            ]
        ]
    },
    {
        "id": "21ac450b8e3c8b3c",
        "type": "ui_slider",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "9ea72cb8a27ce191",
        "order": 8,
        "width": 9,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "cf",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "d6fe2f7ba1262aec"
            ]
        ]
    },
    {
        "id": "e92d0a151ff5cf60",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Servo_Angle_210204R",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "d6fe2f7ba1262aec",
        "type": "mqtt out",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Controlling_factor_210204R",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab0a2509d76c02a7",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "68b91425f4bbba54",
        "type": "ui_dropdown",
        "z": "02819f7f276b30da",
        "name": "",
        "label": "Settings",
        "tooltip": "",
        "place": "Select option",
        "group": "9ea72cb8a27ce191",
        "order": 4,
        "width": 9,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Default",
                "value": "Default",
                "type": "str"
            },
            {
                "label": "paracetamol ",
                "value": "paracetamol",
                "type": "str"
            },
            {
                "label": "Aspirin",
                "value": "Aspirin",
                "type": "str"
            },
            {
                "label": "Statins",
                "value": "Statins",
                "type": "str"
            },
            {
                "label": "Metformin",
                "value": "Metformin",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "Custom",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "0afb201f73b83f68",
                "c40e124308434e4c"
            ]
        ]
    },
    {
        "id": "0afb201f73b83f68",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 8",
        "func": "if(msg.payload==\"paracetamol\"){\n    return {payload:100};\n} else if (msg.payload == \"Aspirin\"){\n    return {payload:50};\n} else if (msg.payload == \"Statins\"){\n    return {payload:67};\n} else if (msg.payload == \"Metformin\"){\n    return {payload:45};\n} else if (msg.payload == \"Custom\") {\n    return { payload: 40 };\n} else{\n    return {payload:30};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "cc6914e2790b6816"
            ]
        ]
    },
    {
        "id": "c40e124308434e4c",
        "type": "function",
        "z": "02819f7f276b30da",
        "name": "function 9",
        "func": "if(msg.payload == \"paracetamol\"){\n    return {payload:0.32};\n} else if (msg.payload == \"Aspirin\"){\n    return {payload:0.78};\n}else if (msg.payload == \"Statins\"){\n    return {payload:0.11};\n}else if (msg.payload == \"Metformin\"){\n    return {payload:0.9};\n}else if(msg.payload == \"Custom\"){\n    return {payload:0.75};\n}else{\n    return {payload:0.75};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "21ac450b8e3c8b3c"
            ]
        ]
    },
    {
        "id": "8cc64b22256e071c",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "0e7fb7e2655190a9"
            ]
        ]
    },
    {
        "id": "a65be6b222e0a6ab",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6402d1fa9e527d67"
            ]
        ]
    },
    {
        "id": "014491ea6d3d1d6f",
        "type": "mqtt in",
        "z": "02819f7f276b30da",
        "name": "",
        "topic": "Temperature_Input_210204R",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab0a2509d76c02a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "43c9f6a4ea80cefb"
            ]
        ]
    },
    {
        "id": "c641ce1e028f983c",
        "type": "ui_gauge",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 2,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius ",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#14d214",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "71fd7d89a13de7ed",
        "type": "ui_chart",
        "z": "02819f7f276b30da",
        "name": "",
        "group": "9ea72cb8a27ce191",
        "order": 1,
        "width": 19,
        "height": 4,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "43c9f6a4ea80cefb",
        "type": "delay",
        "z": "02819f7f276b30da",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "c641ce1e028f983c",
                "71fd7d89a13de7ed"
            ]
        ]
    },
    {
        "id": "b5561908165b2a65",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "66536d0e218df59e",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "ad171ca5010a6587",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9960a66bd3462a07",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "033806c63f43d853",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9ea72cb8a27ce191",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e12b15b525c348c3",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9ea72cb8a27ce191",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "71702558ae878813",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9ea72cb8a27ce191",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4a75cbe99c8528a",
        "type": "ui_spacer",
        "z": "02819f7f276b30da",
        "name": "spacer",
        "group": "9ea72cb8a27ce191",
        "order": 9,
        "width": 10,
        "height": 1
    },
    {
        "id": "ab0a2509d76c02a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01acc8efbdc4bbe7",
        "type": "ui_group",
        "name": "Light",
        "tab": "51ba7f1114addb00",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ea72cb8a27ce191",
        "type": "ui_group",
        "name": "Temperature ",
        "tab": "51ba7f1114addb00",
        "order": 3,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51ba7f1114addb00",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]